<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Encuesta</title>
  </head>
<body>
<div class="container">
    <h1>Preguntas Seguridad</h1>
    <form action="{% url 'llenar_encuesta' %}" method="post" enctype="application/x-www-form-urlencoded ">
    {% csrf_token %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Pregunta</th>
                <th scope="col">Respuesta</th>
            </tr>
            </thead>
            <tbody>
            {% for cli in respuestas %}
                <tr>
                {% if cli.question.question and cli.answer == 'True' %}
                    <td>{{ cli.question.question }}</td>
                    <td>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="{{ cli.question.pk }}" type="radio" value="True" data-pk="{{ cli.question.pk }}" checked>
                                <label class="form-check-label">
                                    Sí
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="{{ cli.question.pk }}" type="radio" value="False" data-pk="{{ cli.question.pk }}">
                                <label class="form-check-label">
                                    No
                                </label>
                            </div>
                            <div class="form-check form-check-inline" style="display: none">
                                <input class="form-check-input" name="{{ cli.question.pk }}" type="radio" value="None" data-pk="{{ cli.question.pk }}">
                                <label class="form-check-label">
                                    None
                                </label>
                            </div>
                        </div>
                    </td>
                {% endif %}
                {% if cli.question.question and cli.answer == 'False' %}
                    <td>{{ cli.question.question }}</td>
                    <td>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="{{ cli.question.pk }}" type="radio" value="True" data-pk="{{ cli.question.pk }}">
                                <label class="form-check-label">
                                    Sí
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="{{ cli.question.pk }}" type="radio" value="False" data-pk="{{ cli.question.pk }}" checked>
                                <label class="form-check-label">
                                    No
                                </label>
                            </div>
                            <div class="form-check form-check-inline" style="display: none">
                                <input class="form-check-input" name="{{ cli.question.pk }}" type="radio" value="one" data-pk="{{ cli.question.pk }}">
                                <label class="form-check-label">
                                    None
                                </label>
                            </div>
                        </div>
                    </td>
                {% endif %}

                {% if cli.question.question and cli.answer == 'None' %}
                    <td>{{ cli.question.question }}{{ cli.question.question.pk }}</td>
                    <td>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="{{ cli.question.pk }}" type="radio" value="True" data-pk="{{ cli.question.pk }}">
                                <label class="form-check-label">
                                    Sí
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="{{ cli.question.pk }}" type="radio" value="False" data-pk="{{ cli.question.pk }}">
                                <label class="form-check-label">
                                    No
                                </label>
                            </div>
                            <div class="form-check form-check-inline" style="display: none">
                                <input class="form-check-input" name="{{ cli.question.pk }}" type="radio" value="one" data-pk="{{ cli.question.pk }}" checked>
                                <label class="form-check-label">
                                    None
                                </label>
                            </div>
                        </div>
                    </td>
                {% endif %}
                {% if cli.question and not cli.question.question %}
                    <td>{{ cli.question }}</td>
                    <td>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="{{ cli.question.pk }}" type="radio" value="True" data-pk="{{ cli.question.pk }}">
                                <label class="form-check-label">
                                    Sí
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="{{ cli.question.pk }}" type="radio" value="False" data-pk="{{ cli.question.pk }}">
                                <label class="form-check-label">
                                    No
                                </label>
                            </div>
                            <div class="form-check form-check-inline" style="display: none">
                                <input class="form-check-input" name="{{ cli.question.pk }}" type="radio" value="one" data-pk="{{ cli.question.pk }}" checked>
                                <label class="form-check-label">
                                    None
                                </label>
                            </div>
                        </div>
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <div class="col-md-12">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Enviar
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Encuesta para analisis GAP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Si todos los usuarios han contestado la encuesta, seleccione "Enviar", de lo contrario presione "Volver"
              </div>
              <div class="modal-footer">
                  <a href="{% url 'createpersonal' %}"><button type="button" class="btn btn-secondary" >Volver</button></a>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    </form>

</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    alert('Quedan '+{{ time }}+' días para contestar la encuesta.');
    function check(variable) {
        console.log(variable);
        $.ajax({
            type: "POST",
            url: "{% url 'getanswer' %}",
            data: {
                csrfmiddlewaretoken: '{{csrf_token}}',
                value: 'True',
                question: variable
            }
        });
    }

    function discheck(variable) {
        console.log(variable);
        $.ajax({
            type: "POST",
            url: "{% url 'getanswer' %}",
            data: {
                csrfmiddlewaretoken: '{{csrf_token}}',
                value: 'False',
                question: variable
            }
        });
    }
</script>
</body>